<div class="signin-container">
    <div class="container form-container">
        <form class="form-padding">
            <h2 class="form-signin-heading">Enter your team information</h2>
            <input type="text" class="form-control signin-field" placeholder="Team name" autofocus="">
            <textarea style="resize: none;" cols="30" rows="5" class="form-control signin-field"
                      placeholder="Team members"></textarea>
            <br/>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
        </form>
    </div>
</div>