<html ng-app="myApp">
<head>
    <meta charset='utf8'>
    <base href="/"/>
    <title>UIN Gaming</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/carrousel.css"/>
    <link rel="stylesheet" href="/css/app.css"/>
</head>
<body class="fullscreen">
<div class="fullscreen" ng-controller="BackgroundCtrl">

    <div class="navbar-container" nav-bar></div>

    <div class="ng-view fullscreen"></div>

    <div class="general-background" ng-class="bgClass"></div>

</div>

<script src="js/lib/angular/angular.min.js"></script>
<script src="js/lib/jquery.min.js"></script>
<script src="js/lib/bootstrap.js"></script>
<script src="js/lib/holder.js"></script>
<script src="js/services/EventService.js"></script>
<script src="js/services/HomeService.js"></script>
<script src="js/controllers/BackgroundCtrl.js"></script>
<script src="js/controllers/SignInCtrl.js"></script>
<script src="js/controllers/HomeCtrl.js"></script>
<script src="js/controllers/EventsCtrl.js"></script>
<script src="js/controllers/NavCtrl.js"></script>
<script src="js/app.js"></script>
<script src="js/directives.js"></script>
<script src="js/filters.js"></script>
<script src="js/services.js"></script>
</body>
</html>