<html ng-app="myApp">
<head>
    <meta charset='utf8'>
    <base href="/"/>
    <title>UIN Gaming</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/carrousel.css"/>
    <link rel="stylesheet" href="/css/app.css"/>
</head>
<body style>
<div class="navbar-wrapper">
    <div class="container">

        <div class="navbar navbar-inverse navbar-static-top" ng-controller="NavCtrl">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">UIN Gaming</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li ng-class="{'active': activeClass('/signin')}">
                            <a ng-click="clickLink('/signin')">Sign In</a>
                        </li>
                        <li ng-class="{'active': activeClass('/home')}">
                            <a ng-click="clickLink('/home')">Home</a>
                        </li>
                        <li ng-class="{'active': activeClass('/events')}">
                            <a ng-click="clickLink('/events')">Events</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="ng-view" style="width: 100%; height: 100%;"></div>

<script src="js/lib/angular/angular.min.js"></script>
<script src="js/lib/jquery.min.js"></script>
<script src="js/lib/bootstrap.js"></script>
<script src="js/lib/holder.js"></script>
<script src="js/controllers/HomeCtrl.js"></script>
<script src="js/controllers/EventsCtrl.js"></script>
<script src="js/controllers/NavCtrl.js"></script>
<script src="js/app.js"></script>
<script src="js/directives.js"></script>
<script src="js/filters.js"></script>
<script src="js/services.js"></script>
</body>
</html>